// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;
$header-blue: #0099ec;
$text-gray: #454649;
$cerulean-blue: #00adee;

// Widget-leaderboard styles
// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
.widget.widget-leaderboard {
  background-color: white;
  color: $text-gray;
  font-family: helvetica;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0;
  text-align: left;
  vertical-align: top;

  h1 {
    border-bottom: 1px solid $cerulean-blue;
    color: $cerulean-blue;
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    line-height: 1.0em;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
  }

  .post {
    display: block;
    margin-bottom: 20px;
    overflow:hidden;

    hr {
      background: transparent url(/assets/dotted-hr.png);
      border: none;
      float: left;
      height: 1px;
      margin-bottom: 0;
      width: 100%;
    }
  }

  .post-title {
      font-family: "brandon-grotesque",sans-serif;
      font-style: normal;
      font-size: 1em;
      line-height: 1.2em;
      color: $cerulean-blue;
    }

    .post-details {
      font-size: 1em;
      margin-top: 15px;
      width: 100%;
    }

  // .post-details {
  //   color: inherit;
  //   font-family: "Museo Sans", sans-serif;
  //   margin-left: 15px;
  //   padding: 0 5px 15px 5px;
  //   width: 75%;

  //   .post-title {
  //     color: #FFF;
  //     font-size: 1.4rem;
  //     font-weight: bold;
  //   }

  //   .post-date {
  //     clear: left;
  //     color: #fff;
  //     font-size: 0.8rem;
  //     color: rgba(0, 0, 0, 0.298039);

  //     span {
  //       font-weight: bold;
  //     }
  //   }

  //   .post-stats {
  //     float: right;

  //     li {
  //       background-position: center right;
  //       background-repeat: no-repeat;
  //       margin-bottom: 5px;
  //       padding-right: 20px;
  //       text-align: right;
  //     }

  //     .visits {
  //       background-image: url(/assets/views-icon.png);
  //     }

  //     .comments {
  //       background-image: url(/assets/comments-icon.png);
  //     }

  //     .tweets {
  //       background-image: url(/assets/tweets-icon.png);
  //     }
  //   }
  // }
}
