// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;
$header-blue: #00adef;
$text-gray: #454649;
$cerulean: rgba(0,173,234,.8);

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {
	font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 700;
	border: rgba(255,255,255,.2) 1px solid;
  color: $text-gray;
  font-family: helvetica;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0;
  text-align: left;
  vertical-align: top;

  

  h1,h2 {
  	font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    
    text-align: center;
  }


  h1 {
  	text-transform: uppercase;
  	padding-top: 10px;
  	font-weight: 700;
  	font-size: 3.7em;
  	line-height: 4rem;
  	color: $cerulean;
  	

  }

  h2 {
  	padding-top: 10px;
  	font-weight: 300;
  	font-size: 18em;
  	line-height: 15rem;
  	color: white;
  	opacity: .2;
  }

}
