// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$yellow-orange: #faaf40;
$abbey: #58595B;
$white: #ffffff;
$cerulean: #00ADEE;

// Widget-leaderboard styles
// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
.widget.widget-hours {
  text-align: left;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(9,173,238,0)), to(rgba(9,173,238,.2)));
  vertical-align: top;

  h1 {
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1em;
    text-align: left;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }

  h2 {
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1em;
    text-align: left;
    // text-transform: uppercase;
    color: $cerulean;
    margin-bottom: 20px;
  }

  li {
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.3em;
    color: $abbey;
  }
// ----------------------------------------------------------------------------
// Possibly move into global styles if needed and replicated across more widgets
// ----------------------------------------------------------------------------
  .col1 {
    background: transparent url(/assets/tear.png) 0px 140px no-repeat;
    display: block;
    float: left;
    margin-left: 10px;

    li {
      font-family: "brandon-grotesque",sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 10em;
      line-height: 1em;
      text-align: left;
      text-transform: uppercase;
      color: $cerulean;
      margin-top: 75px;
    }

    p {
      font-family: "brandon-grotesque",sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: .5em;
      text-align: left;
      color: $white;
      margin-top: -5px;
    }
  }

  .col2 {
    display: block;
    float: left;
    margin: 170px 0 0 130px;
    padding-left: 20px;
    border-left: 1px #ffffff solid;
    min-height: 236px;

    .offenders {
      height: 100px;
    }

    ul {
      float: left;
      margin-right: 20px;
      width: 202px;

      &:last-child {
        margin-right: 0;
      }
    }

    li {
      font-family: "brandon-grotesque",sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.4em;
      text-align: left;
      color: $cerulean;
      border-bottom: 1px white dotted;
      padding: 3px 0 3px 0;
      overflow: hidden;

      .shame-level {
        font-size: .9rem;
        color: $white;
        float: right;
      }
    }

    h2 {
      font-family: "brandon-grotesque",sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 1em;
      text-align: left;
      text-transform: uppercase;
      color: $white;
    }
  }
}

