// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$flamingo-red: rgba(240,90,40,.7);
$abbey-gray: #58595b;
$oslo-gray: #929497;
$cerulean-blue: rgba(0,173,234,.8);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list2 {
  // background-color: #fff;
  border: rgba(255,255,255,.2) 1px solid;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  padding-bottom: 10px;
  vertical-align: top;

  h1 {
    border-bottom: 1px solid rgba(255,255,255,.3);
    color: white;
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-size: 3rem;
    font-weight: 700;
    font-weight: bold;
    line-height: 1.0em;
    margin-bottom: 25px;
    padding-bottom: 15px;
    text-align: left;
    text-transform: uppercase;
  }

  ol {
    list-style: none;
    text-align: left;
  }

  li {
    color: $oslo-gray;
    font-size: 1.2em;
    line-height: 2.9em;
    background: transparent url(/assets/dotted-hr.png) 0 100% repeat-x;
    
    &:last-child {
      background: none;
    }

  }

  .label {
    color: $cerulean-blue;
  }

  .value {
    float: right;
  }
}
