// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$white: #ffffff;
$grey: rgba(120,120,120,.1);

// Widget-last-post styles
// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
.widget.widget-last-post {
  padding: 10px;
  text-align: center;
  // background: $white;
  border: rgba(255,255,255,.2) 1px solid;
  vertical-align: top;

  .full-img {
  	background: $grey;
  	height: 450px;
  }
  
  h1.title {
  	font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.2em;
    text-transform: uppercase;
    color: $white;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    position: relative;
    top: 8%;
    margin: 0 50px;
    text-align: center;
    text-rendering: optimizeLegibility;
  }

  h2 {
	font-family: adobe-caslon-pro, serif;
  	font-size: 5em;
  	color: $white;
  	font-weight: 300;
  }

  .counter {
  	margin-top: 25%;
  }

  .sad {
  	// border: 1px solid green;
  }

  &.b-0 .full-img {
    background: transparent url(/assets/thedude.jpg) no-repeat;

    h1, .counter {
      display: none;
    }
  }

  &.b-1 .full-img {
  	background: transparent url(/assets/steve.jpg) no-repeat;
  }

  &.b-2 .full-img {
  	background: transparent url(/assets/peter.jpg) no-repeat;
  }

  &.b-3 .full-img {
  	background: transparent url(/assets/jim.jpg) no-repeat;
  }

  &.b-4 .full-img {
  	background: transparent url(/assets/margot.jpg) no-repeat;
  }

  &.b-5 .full-img {
  	background: transparent url(/assets/don.jpg) no-repeat;
  }

  &.b-6 .full-img {
  	background: transparent url(/assets/winston.jpg) no-repeat;
  }

  &.b-7 .full-img {
  	background: transparent url(/assets/officespace.jpg) no-repeat;
  }

  &.b-8 .full-img {
  	background: transparent url(/assets/ron.jpg) no-repeat;
  }
}
