// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$header-blue: #0099ec;
$text-gray: #454649;
$cerulean-blue: #00adee;

// Widget-leaderboard styles
// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
.widget.widget-posts {
  background-color: white;
  color: $text-gray;
  font-family: helvetica;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0;
  text-align: left;
  vertical-align: top;
  
  h1 {
    border-bottom: 1px solid $cerulean-blue;
    color: $cerulean-blue;
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    line-height: 1.0em;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
  }

  .post {
    display: block;
    margin-bottom: 20px;
    overflow:hidden;

    hr {
      background: transparent url(/assets/dotted-hr.png);
      border: none;
      float: left;
      height: 1px;
      margin-bottom: 0;
      width: 100%;
    }
  }

  .post-title {
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-size: 1em;
    line-height: 1.2em;
  }

  .post-details {
    font-size: .75em;
    margin-top: 15px;
    width: 100%;
  }
}
