// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$flamingo-red: #F05A28;
$abbey-gray: #58595b;
$oslo-gray: #929497;
$cerulean-blue: #00adee;
$pure-white: #ffffff;
$fun-blue: #1E6CB8;
$tarawera-blue: #083D51;

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-bench {
  background-color: $tarawera-blue;
  color: $pure-white;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  padding-bottom: 15px;
  vertical-align: top;

  h1 {
    background: transparent url(/assets/bench.png) 150px 5px no-repeat;
    border-bottom: 1px solid $pure-white;
    font-family: "brandon-grotesque",sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0em;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
  }

  ol {
    list-style: none;
    text-align: left;

    li {
      margin-bottom: 15px;
    }

    span {
      display: block;
      line-height: 1em;
      margin: 0;

      &.user {
        color: $cerulean-blue;
        font-size: 1rem;
        font-weight: 700;
      }

      &.project {
        font-size: 0.875rem;
      }
    }
  }
}
