// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$abbey: #58595B;
$white: #ffffff;
$cerulean: #00ADEE;

// Widget-leaderboard styles
// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
.widget.widget-hoursbasic {
  text-align: left;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(9,173,238,0)), to(rgba(9,173,238,.2)));
  vertical-align: top;

  h1 {
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1em;
    text-align: left;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }

  h2 {
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1em;
    text-align: left;
    // text-transform: uppercase;
    color: $cerulean;
    margin-bottom: 20px;
  }

  li {
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.3em;
    color: $abbey;
  }
// ----------------------------------------------------------------------------
// Possibly move into global styles if needed and replicated across more widgets
// ----------------------------------------------------------------------------
  .col1 {
    background: transparent url(/assets/tear.png) 0px 115px no-repeat;
    display: block;
    float: left;
    margin-left: 10px;

    li {
      font-family: "brandon-grotesque",sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 7em;
      line-height: 1em;
      text-align: left;
      text-transform: uppercase;
      color: $cerulean;
      margin-top: 85px;
    }

    p {
      font-family: "brandon-grotesque",sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: .5em;
      text-align: left;
      color: $white;
      margin-top: 10px;
    }
  }
}

