.widget-gallery {
  padding: 10px;
  background: white;

  h1 {
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
    color: white;
    background: rgba(0, 0, 0, .5);
    width: 450px;
    bottom: 10px;
    margin-bottom: 0;
    padding-left: 10px;
    position: absolute;
    z-index: 10;
    
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    }

  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    }

  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
    }

  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
  }
}
