// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$white: #ffffff;

// Widget-leaderboard styles
// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
.widget.widget-basic {
  text-align: center;
  background: $white;
  vertical-align: top;
  padding: 0px;

  .full-img {
    width: 450px;
    height: 450px;
    margin: 10px;
    // This is the image that will be uploaded with the widget. 
    background: transparent url(/assets/muchachos.jpg) no-repeat;
  }

}

