<% content_for(:title) { "Redesign Page 2" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id='c5-artifacts' data-view='Artifact' data-title='Artifact'></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id='c5-images' data-view='Image'></div>
    </li>
  </ul>
</div>
