<% content_for(:title) { "Blog Related Widgets" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="4">
      <div data-id='recent-posts' data-view='Posts' data-title='Recent<br>Blog Posts'></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="4">
      <div data-id='post-leaderboard' data-view='Leaderboard' data-title='Blog<br>Leaderboard'></div>
    </li>
  </ul>
</div>
