<% content_for(:title) { "Carbometer" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id='post-leaderboard' data-view='Leaderboard' data-title='Leading Carbon Emitters'></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id='oss-update' data-view='Oss' data-title='Open Source Contributions'></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id='post-leaderboard-top-sources' data-view='List' data-title='Top Referral Sources'></div>
    <li>
    <li data-row="2" data-col="4" data-sizex="1">
      <div data-id='carbonfive-tweets' data-view='Tweets' data-title='Tweets About C5'></div>
    </li>
  </ul>
</div>
