<% content_for(:title) { "Carbometer" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="4">
      <div data-id='carbonfive-projects' data-view='Categories' data-title="Who's<br>on What?"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id='instagram-1' data-view='Image'></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id='instagram-2' data-view='Image'></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id='instagram-3' data-view='Image'></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id='instagram-4' data-view='Image'></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="2" data-sizey="4">
      <div data-id='recent-posts' data-view='Posts' data-title='Recent<br>Blog Posts'></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id='carbonfive-tweets2' data-view='Tweets2' data-title='Tweets About C5'></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="2" data-sizey="2">
      <div data-id='carbonfive-fridge' data-view='Fridge' data-title='In The<br>Fridge'></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="2" data-sizey="2">
      <div data-id='carbonfive-counter' data-view='Counter' data-title='On The<br>Counter'></div>
    </li>
  </ul>
</div>
