<% content_for(:title) { "The Hours of Shame" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id='hours-shame' data-view='Hoursbasic' data-title='Hours<br>of Shame'></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id='instagram-1' data-view='Image'></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id='instagram-2' data-view='Image'></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id='oss-leaderboard' data-view='List2' data-title='Open Source Contributions'></div>
    </li>
  </ul>
</div>
