<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id='post-leaderboard' data-view='Leaderboard' data-title='Carbon Emitter Post Leaderboard'></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id='post-leaderboard-top-sources' data-view='List' data-title='Top Referral Sources'></div>
    </li>
  </ul>
</div>
