<% content_for(:title) { "Redesign" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id='recent-posts' data-view='Posts' data-title='Recent Blog Posts'></div>
    </li>
  </ul>
</div>
