<% content_for(:title) { "Redesign Page 2" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id='Fridge' data-view='Fridge' data-title='In The<br>Fridge'></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id='Counter' data-view='Counter' data-title='On The<br>Counter'></div>
    </li>
    
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id='instagram-1' data-view='Image'></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id='instagram-2' data-view='Image'></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id='instagram-3' data-view='Image'></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id='instagram-4' data-view='Image'></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id='instagram-5' data-view='Image'></div>
    </li>
  </ul>

</div>
