<% content_for(:title) { "Carbometer | Screen 2" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="4">
      <div data-id='recent-posts' data-view='Posts' data-title='Recent<br>Blog Posts'></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="4">
      <div data-id='post-leaderboard' data-view='Leaderboard' data-title='Blog<br>Leaderboard'></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="4" data-sizey="2">
      <div data-id='blog-excerpt' data-view='Excerpt' data-title='Excerpt'></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id='instagram-3' data-view='Image'></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="2" data-sizey="2">
      <div data-id='instagram-4' data-view='Image'></div>
    </li>
  </ul>
</div>
