<% content_for(:title) { "Carbometer | Screen 3" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="4">
      <div data-id='c5-artifacts' data-view='Artifact' data-title='Artifact'></div>
    </li>
    <li data-row="5" data-col="1" data-sizex="4" data-sizey="4">
      <div data-id='instagram-5' data-view='Image'></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="4" data-sizey="4">
      <div data-id='instagram-6' data-view='Image'></div>
    </li>
    <li data-row="5" data-col="5" data-sizex="4" data-sizey="4">
      <div data-id='basic-images' data-view='Basic'></div>
    </li>
    <li data-row="1" data-col="9" data-sizex="4" data-sizey="4">
      <div data-id='c5-artifacts' data-view='Artifact' data-title='Artifact'></div>
    </li>
    <li data-row="5" data-col="19" data-sizex="4" data-sizey="4">
      <div data-id='instagram-7' data-view='Image'></div>
    </li>
    <li data-row="1" data-col="13" data-sizex="4" data-sizey="4">
      <div data-id='instagram-8' data-view='Image'></div>
    </li>
    <li data-row="5" data-col="13" data-sizex="4" data-sizey="4">
      <div data-id='basic-images' data-view='Basic'></div>
    </li>
    <li data-row="9" data-col="1" data-sizex="16" data-sizey="1">
      <div data-view='Tweetrow'></div>
    </li>
  </ul>
</div>
