<% content_for(:title) { "Carbometer | Screen 3" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="8" data-sizey="7">
      <div data-view='Moodio'></div>
    </li>
    <li data-row="1" data-col="8" data-sizex="6" data-sizey="7">
      <div data-view='Clock'></div>
    </li>
    <li data-row="8" data-col="1" data-sizex="16" data-sizey="1">
      <div data-id='carbonfive-tweets' data-view='Tweets'></div>
    </li>
  </ul>
</div>
