<% content_for(:title) { "Carbometer | Screen 3" } %>
<div class="gridster">
  <ul>
    <li data-row="6" data-col="6" data-sizex="6" data-sizey="6">
      <div data-view='Moodio'></div>
    </li>
    <li data-row="9" data-col="1" data-sizex="16" data-sizey="1">
      <div data-id='carbonfive-tweets' data-view='Tweets'></div>
    </li>
  </ul>
</div>
