// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$flamingo-red: #F05A28;
$abbey-gray: #58595b;
$oslo-gray: #929497;
$cerulean-blue: #00adee;
$pure-white: #ffffff;

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-categories {
  background-color: $cerulean-blue;
  color: $pure-white;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  padding-bottom: 15px;
  vertical-align: top;

  h1 {
    border-bottom: 1px solid $pure-white;
    font-family: "brandon-grotesque",sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    line-height: 1.0em;
    margin: 0;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
  }

  ol {
    list-style: none;
    text-align: left;
  }

  .category {
    overflow: hidden;
    padding: 5px 0 10px;
    position: relative;
    vertical-align: top;

    hr {
      background: transparent url(/assets/white-hr.png);
      border: none;
      height: 1px;
      bottom: 0;
      margin: 0;
      position: absolute;
      width: 100%;
    }
  }

  .category-name {
    clear: left;
    font-size: 1.8rem;
    font-weight: bold;
    float: left;
    line-height: 1.2em;
    text-transform: uppercase;
    width: 235px;
  }

  ul {
    font-size: 1.2rem;
    height: 100%;

    li {
      display: inline;
      margin-right: 10px;
      width: 75px;
    }
  }
}
