// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-tweet styles
// ----------------------------------------------------------------------------
.widget.carbonfive-tweets {
  vertical-align: top;
}

.widget-tweets {

  background-color: $background-color;

  .title {
    color: $title-color;
    margin-bottom: 15px;
  }

  img {
    border: 1px solid white;
  }

  .name {
    padding-left: 8px;
  }

  .tweet-container {
    display: none;
    font-size: .9em;
    text-align: left;

    .tweet {
      margin-top: 10px;
    }
  }

  .more-info {
    color: $moreinfo-color;
  }

}
