#dashboard-frame.container

  .column
    .widget.row.flex-2.transparent

    #logo-container.widget.row.transparent
      #logo
  .column.flex-3
    .row.widget
      #post-leaderboard
        .widget-header
          %h1.widget-title Carbon Emitter Post Leaderboard
          %p.widget-subtitle last #{Post::DEFAULT_DAY_RANGE} days, starting #{(Date.today - Post::DEFAULT_DAY_RANGE.days).strftime('%m/%d/%y')}

:javascript
  $(function() {
    Carbometer.Posts.reset(#{@posts})
    setInterval(function() {
      Carbometer.Posts.fetch()
    }, 60000)

    // TODO: Move this into JS file (scales text across window sizes)
    $('h2, .post-author-date').fitText(3.5);
    //$('.counter').fitText(1);
  });
