// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$light-orange: #FDDFB3;
$flamingo-red: rgba(240,90,40,.7);
$white: #FFFFFF;
$cerulean: rgba(0,173,234,.7);

// ----------------------------------------------------------------------------
// Widget-tweet styles
// ----------------------------------------------------------------------------
.widget.widget-tweets {
  border: rgba(255,255,255,.2) 1px solid;
  // background: $white;
  padding: 0 0 0 30px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;

  img,
  .tweet-container {
    float: left;
    margin-top: 30px;
  }

  .tweet-info {
    line-height: 1.2em;
    margin: 26px 0 0 30px;
    text-align: left;
    height: 45px;
    float: left;
    // border: 1px solid red;
    padding-right: 30px;
    border-right: 3px solid rgba(240,90,40,0.3);
    border-left: 3px solid rgba(240,90,40,0.3);
    padding-left: 30px;
  }

  .tweet-content {
    line-height: 1.2em;
    margin: 30px 0 0 0;
    text-align: left;
    height: 60px;
    width: 1400px;
    float: left;
    // border: 1px solid green;
    padding-left: 30px;
    overflow: hidden;
  }

  h3,
    .date {
      color: $white;
    }

    .handle {
      font-family: "brandon-grotesque",sans-serif;
      font-style: normal;
      text-transform: uppercase;
      color: $cerulean;
    }

    .date {
      font-family: "brandon-grotesque",sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: .8em;
      padding-left: 27px;
      color: $flamingo-red;

    }

    .tweet {
      font-family: "brandon-grotesque",sans-serif;
      font-size: 1.45rem;
      line-height: 1.9rem;
      font-weight: 300;
      font-style: normal;
      color: $cerulean;

      a {
        color: $flamingo-red;
      }
    }
}
