/* 
  In-progress Box Sizing CSS Framework
  See http://jsfiddle.net/blakeeb/nuuQT/
*/

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    -webkit-box-orient: horizontal;
}

.widget { 
    -webkit-box-align: stretch;
    -webkit-box-flex: 1;
    display: -webkit-box;
    overflow: hidden;
}

.column {
	-webkit-box-flex: 1;
	-webkit-box-align: stretch;
    -webkit-box-orient: vertical;
	display: -webkit-box;
}

.row {
    -webkit-box-orient: horizontal;
}

.next {
  left: 100%;
  top: 0;
}

.section {
  padding: 20px;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.flex-1 { -webkit-box-flex: 1 !important; }
.flex-2 { -webkit-box-flex: 2 !important; }
.flex-3 { -webkit-box-flex: 3 !important; }
.flex-4 { -webkit-box-flex: 4 !important; }
.flex-5 { -webkit-box-flex: 5 !important; }
.fixed { -webkit-box-flex: 0 !important; }

.cell:before {
  display: block;
  content: '';
}
.cell.aspect-1-1:before {
  padding-top: 50%; /* 4:3 aspect ratio */
}
.cell.aspect-4-3:before {
  padding-top: 75%; /* 4:3 aspect ratio */
}

.cell-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver;
    width: 100%;
    height: 100%;
}

/*
  Example:
  
  <div class="container">
    <div class="flex-5 column">
        <div class="row section">
            INSANE Graph
        </div>
        <div class="row">
            <div class="column section">
                3 Doohickeys
            </div>
            <div class="fixed column section">
                2 Gizmos
            </div>
        </div>
    </div>
    <div class="flex-1 column">
        <div class="row section">
            59% cats lie
        </div>
        <div class="row section">
            1% teeth are rotten
        </div>
        <div class="row section">
            99% Weird Al songs are weird
        </div>
    </div>
  </div>
*/
