#dashboard-frame {
  background: black;
  float: left;
  overflow: hidden;
  width: 100%;
}

#challenge-leaderboard {
  float: left;
  height: 1419px;
}

#post-leaderboard {
  float: left;
}

#buzz-box {
  float: left;
  height: 700px;
}

#blog-traffic-graph {
  float: left;
  height: 344px;
}

#blog-post-bar-chart {
  float: left;
  height: 344px;
}

.widget-gradient {
  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000c', endColorstr='#313C4B'); /* for IE */
  background: -webkit-linear-gradient(#000, #313C4B); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #000,  #313C4B); /* for firefox 3.6+ */
}

.widget {
  background: #313C4B;
}

.widget-header {
  height: 50px;
  border-bottom: 1px dotted white;
}

.widget-title {                         /* white smoke */
  color: #F5F5F5;
  display: inline;
  float: left;
  font-size: 150%;
  padding-left: 10px;
  text-transform: capitalize;
}

.widget-subtitle {
  color: #AFCBE0;                      /* light gray */
  display: inline;
  float: right;
  font-size: 100%;
  padding: 5px 10px 0 10px;
  width: auto;
}

.post-row {
  background: #313C4B;
  border-bottom: 1px solid black;
  height: 160px;
  padding: 5px 0;
}

.post-row-gradient {
  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000c', endColorstr='#313C4B'); /* for IE */
  background: -webkit-linear-gradient(#000, #313C4B); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #000,  #313C4B); /* for firefox 3.6+ */
  height: auto;
  overflow: hidden;
  padding: 5px 0;
}

.avatar-col {
  display: inline;
  float: left;
  margin-top: 5px;
  width: 12%;
}

.post-info {
  color: #FF4500;
  display: inline;
  float: left;
  margin: 0;
  padding: 0 0 0 3px;
  width: 19px;
 }

.avatar {
  margin: 0;
  padding: 0;
  display: inline;
  height: 73px;
  width: 73px;
  float: left;
  box-shadow: 2px 2px 8px #000;
  -moz-box0shadow: 2px 2px 8px #000;
  -webkit-box-shadow: 2px 2px 8px #000;
}

.title-info-col {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 70%;
}

.post-title {
  color: #678BBA;
  float: left;
  font-size: 175%;
  font-style: bold;
  line-height: 120%;
  margin: 5px 0 0 0;
  padding: 0;
}

.post-author-date {
  color: #AFCBE0;
  display: inline;
  float: left;
  font-size: 100%;
  margin: 0;
  padding-left: 0;
}

.post-author-date strong {
  color: #DCDCDC;
}

.statistics {
  display: inline;
  float: right;
  margin: 0 10px;
  width: 12%;
}

.counter {
  font-size: 125%;
  list-style: none;
  margin: 5px 5px;
}

li {
    color: #DCDCDC;
    font-size: 115%;
    padding: 0 20px 0 0px;
    text-align: right;
    background-repeat: no-repeat;
    background-position: right center;
}

.tweets {
  background-image: url(/assets/tweets-icon.png);
}

.comments {
  background-image: url(/assets/comments-icon.png);
}

.views {
  background-image: url(/assets/views-icon.png);
}

.traffic-graph  {
  border-left: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  display: inline;
  float: left;
  height: 25px;
  margin-top: 10px;
  width: 300px;
}

.traffic-graph p {     /* just used for the comp, not part of app styling */
  color: #808080;
  font-size: .75em;
  margin: 0 0 0 10px;
  text-transform: uppercase;
}


